.chatgpt-page {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.chat-body {
    display: grid;
    align-items: end;
    width: 100%;
    margin-bottom: 7rem;
    overflow-y: scroll;
}

.client-message,
.ai-message,
.error-message {
    margin: 10px 7rem;
    padding: 15px;
    border-radius: 10px;
}

.client-message {
    justify-self: right;
    background-color: var(--blue);
    max-width: 50%;
}

.ai-message {
    justify-self: left;
    background-color: rgb(255, 255, 255, .1);
    max-width: 50%;
}

.error-message {
    justify-self: center;
    background-color: var(--red);
    max-width: 80%;
}

.input-area {
    position: fixed;
    width: 60%;
    display: flex;
    align-items: center;
}

.input-area input {
    width: 100%;
    background-color: rgb(255, 255, 255, .1);
    padding: 15px 10px;
    margin: 2rem 0;
    border-radius: 10px;
    border: none;
    transition: .3s;
    color: #fff;
    font-size: large;
}
.input-area input:focus {
    outline: none;
    padding: 20px 10px;
}

.input-area button {
    position: absolute;
    right: 1rem;
    background-color: transparent;
    color: var(--blue);
    border: none;
    cursor: pointer;
    font-size: larger;
}

@media (max-width: 600px) {
    .client-message,
    .ai-message,
    .error-message {
        margin: 10px 1rem;
        max-width: 75%;
    }

    .input-area {
        width: 95%;
    }
}