.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .profile-img {
    width: 10em;
}

.login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 1rem;
    width: 20%;
}

.login-page .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 2.5em;
    width: 100%;
}

.form-group input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #fff;
    color: #fff;
    width: 100%;
    font-size: 1.1em;
    caret-color: var(--blue);
}

.form-group input:focus {
    outline: none;
}

.login-page .error {
    display: flex;
    gap: 2px;
    align-items: center;
    color: var(--red);
    font-size: .9em;
}

.login-page .btn-login {
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    transition: .2s;
    width: 80%;
}

.login-page .btn-login:hover {
    background-color: #0b55c3;
}

@media screen and (max-width: 600px) {
    .login-page form {
        width: 80%;
    }
}