.home-card {
    text-align: center;
    width: 60%;
}

.home-card h1 {
    color:  #0d6efd;
    font-family: 'YesevaOne';
    font-size: 3rem;
}

.home-card p {
    margin: 20px;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-container a {   
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: .2s;
}

.social-container a:hover {
    color: #0d6efd;
}