.home-card {
    text-align: center;
    width: 60%;
}

.home-card h1 {
    color:  var(--blue);
    font-family: 'YesevaOne';
    font-size: 3rem;
}

.home-card p {
    margin: 20px;
}

.social-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-container a {   
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: .2s;
}

.social-container a:hover {
    color: var(--blue);
}

@media (max-width: 600px) {
    .home-card {
        width: 100vw;
    }

    .home-card h1 {
        font-size: 2.5rem;
    }
}